mixin header()
	header.header
		img.header__logo(src="img/header-logo.png" alt="логотип csssr" width="154" height="52")
		img.header__stamp(src="img/header-stamp.png" alt="картинка штампа с надписью заполнено собственноручно")
