mixin jslevel()
	section.jslevel
		h2.jslevel__heading Уровень владения JavaScript
		.jslevel__slider
			img.jslevel__slider-img(src="img/jslevel-slider.png" alt="слайдер с навыками javascript")
			input.jslevel__input(type="range" min="1" max="100" value="19.6" id="jsrange" step="0.1")
		ul.jslevel__list
			li.jslevel__item
				span.jslevel__level Не владею
			li.jslevel__item
				span.jslevel__level Использую готовые решения
			li.jslevel__item
				span.jslevel__level Использую готовые решения и умею их переделывать
			li.jslevel__item
				span.jslevel__level Пишу сложный JS с нуля
