mixin essay()
	section.essay
		h2.essay__heading Расскажите о себе словами
		p.essay__description Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		textarea.essay__text(rows="3" data-min-rows="3") Хочу работать у вас удаленно, постоянно развиваться и стать крутым фронтенд разработчиком
