.essay
	margin-bottom 30px

	&__heading
		section-heading()
		margin-bottom 3px

	&__description
		section-description()
		margin-bottom 22px

	&__text
		width 100%
		border none
		font-family 'Courier New', monospace
		font-size 30px
		line-height 60px
		resize none
		outline none
		background-color transparent
		background-image url('../img/essay-underline.png')
		background-size 100% 60px
		background-position 0 21px
	