html
  box-sizing border-box

*, *::before, *::after
  box-sizing inherit

img
  max-width: 100%
  height auto

body
  margin 0
  padding 0
  background-color #797979

.container
  max-width 1000px
  margin 0 auto
  padding-top 62px
  padding-right 117px
  padding-bottom 56px
  padding-left 113px
  background-color #efd3a1
  background-image url("../img/background-pattern.png")
  background-repeat repeat
  @media (max-width: 640px)
    padding 20px